body {
    background-color: #ffffff; /* alterado para branco */
    color: #000000; /* alterado para preto */
}

.border-image {
    border: 2px solid #e0e0e0;
    padding: 5px;
    margin-top: 20px;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.compact-table th,
.compact-table td {
    padding: 0.4rem 0.75rem;
}